<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Course Mate|Login </title>
<script src="js/jquery.min.js"></script>
<script src="js/doAuth.js"></script>
<script>
	
	

	$(function(){
		
		$identification		=	$("#identification");
		$passkey			=	$("#passkey");
		
		//Upon the clicking of the login button
		$("#doLogin").click(function(e) {
            	
			//If the username and password are both provided,		
			if($identification.val() != "" && $passkey.val() != ""){
				
				 $.ajax({
				
						url : 'http://localhost/courses/php/CMBasics_proc.php',
						data: { method:"doPasskeyLogin", identification:$identification.val(), passkey:$passkey.val()  },
						dataType:'jsonp',
						success: function(resp){
							
							//If the user's credentials are correct, set a unique identification Key  to authenticate the user.					
							if(resp["response"] == "SUCCESS"){
								$com = "";
								//$("#result").html("<script>" + logiDat["data"]["command"] + "");
								for( $command in resp["data"]["command"] ){
									
									$com = $com + " " + resp["data"]["command"][$command];
																		
								}
								
								$__command.html("<script>" + $com + "");
																						
							}else{
								
								
								$__command.html("<script>" + alert(resp["data"]["message"]) + "");
								
							}
							
							
						}
						
				 });
				
			}else{
				
			}
			
        });
		
	});

</script>
</head>

<div id="command"></div>
<div id="result"></div>
<body>

<input type="text" id="identification" placeholder="identification number">
<input type="password" placeholder="password" id="passkey">
<input type="submit" value="Login" id="doLogin">

</body>
</html>
