<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Add Courses to Major</title>
<script src="js/jquery.min.js"></script>
<script src="js/doAuth.js"></script>
<script>

	doSecureAuth();	
	
	$(function(){
			
		 $.ajax({
				
						url : 'http://localhost/courses/php/CMBasics_proc.php',
						data: { method:"getInstCourses", institution:localStorage.getItem("inst") },
						dataType:'jsonp',
						success: function(courDat){	
						
								if(courDat["response"] == "ERROR"){
									
									$__result.html(courDat['data']['message']);
									$__command.html(courDat['data']['command']);
									
								}else if(courDat["response"] == "SUCCESS"){
									
									$_courses = courDat["data"]["message"]
																		
									 $madeList = makeList($_courses);
										$("#generated").html($madeList);
										$__command.html(courDat['data']['command']);
									
								}else{
									$__result.html("UNDEFINED RESPONSE MESSAGE.");
								}
						
						}
						
	 		});
		
	});

</script>
<style>

.id, .code, .name, .tick {
	padding:5px;;
}

.id{
	color:red;
}
.code{
	color:orange;
	text-transform:uppercase;
}
.name{
	color:green;
	text-transform:capitalize;
}
.tick{
	color:blue;
}

</style>
</head>

<body>
<div id="command"></div>
<div id="result"></div>
	<table width="99%"  id="generated" >
      
    </table>

</body>
</html>
