<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My Courses</title>
<script src="js/jquery.min.js"></script>
<script src="js/doAuth.js"></script>
<script>

$(function(){
	
	 $.ajax({
				
						url : 'http://localhost/courses/php/CMBasics_proc.php',
						data: { method:"getMyCourses", major:localStorage.getItem("major") , institution:localStorage.getItem("inst"), id: localStorage.getItem("id") },
						dataType:'jsonp',
						success: function(resp){	
						
							if(resp["response"] == "SUCCESS"){
								
								//Process the data and display it on the screen
								$my_courses =  getMyCourses(resp['data']['command']);
								
								//console.log($my_courses['undone']);
								$("#new_courses").html("<table class='new_courses' style='width:100%' ><th><td colspan='4'>REMAINING COURSES</td></th><tr class='tt'><td>Code</td><td>Title</td><td>Weight</td><td>  &nbsp;</td></tr> " + $my_courses['undone'] + "</table>");
								$("#old_courses").html("<table class='old_courses' style='width:100%' ><th><td colspan='4'>COMPLETED COURSES</td></th><tr class='tt'><td>Code</td><td>Title</td><td>Weight</td><td>  &nbsp;</td></tr>  " + $my_courses['done'] + "</table>");
								//courDat['data']['command']
								//$("#courses").html()
								
							}else if(resp["response"] == "ERROR"){
								
								$__command.html( "<script>" + resp['data']['command'] );
																
							}else{
								
								$__result.html("UNDEFINED RESPONSE MESSAGE.");
								
							}
						
						}
						
	 });
	
});

</script>
</head>

<div id="command"></div>
<div id="result"></div>
<body>

<div id="new_courses">

</div>

<div id="old_courses">

</div>

</body>
</html>
